/* Styles for the Advanced Markup assignment. */
/* Navigation Styles */
}
nav ul li {
    display:inline;
    border: solid; 1px black;
    padding: 5px
}
.active {
    font-weight:900;
    background: #cccccc;
    padding: 5px;
}

/*Content Styles*/
.poem {
    list-style-type:none;
    padding-left: 0;
    line-height: 2;
}
table{
    width:100%;
    text-align:left;
}
